<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{ personal_info.name }}</h2>
    <h2>{{ personal_info.email }}</h2>
    <h2>{{ personal_info.phone }}</h2>
    <hr/>
    <br/>
    <p>Summary</p>
    <p>{{ personal_info.summary }}</p>
    <hr/>
    <p>Professional Experience</p>
    <p>{{ personal_info.previous_work }}</p>
    <p>Skills</p>
    <p>{{ personal_info.skills }}</p>
    <hr/>
    <p>Education</p>
    <ul>
        <li>{{ personal_info.degree }}</li>
        <li>{{ personal_info.school }}</li>
    </ul>

</body>
</html>